[project]
name = "kanban-tui"
version = "0.1.0"
description = "customizeable task tui powered by textual"
authors = [
    { name = "Zaloog", email = "gramslars@gmail.com" }
]
dependencies = [
    "textual>=0.79.1",
    "textual-plotext>=0.2.1",
    "textual-datepicker>=0.2.4",
    "pyyaml>=6.0.2",
    "pydantic>=2.9.2",
]
readme = "README.md"
requires-python = ">= 3.10"
license = { text = "MIT" }

keywords = ["python", "textual", "tui", "kanban"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3 :: Only",
]

[project.urls]
Repository = "https://github.com/Zaloog/kanban-tui"
Changelog = "https://github.com/Zaloog/kanban-tui/blob/main/CHANGELOG.md"

[project.scripts]
ktui = "kanban_tui.__main__:main"

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
addopts = "--cov src/kanban_tui --cov-report term-missing --verbose --color=yes"# -n 4 --dist=loadgroup"
testpaths = ["tests"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = [
    "pre-commit>=3.8.0",
    "pytest>=8.3.3",
    "pytest-cov>=5.0.0",
    "pytest-xdist>=3.6.1",
    "pytest-asyncio>=0.24.0",
    "textual-dev>=1.6.1",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/kanban_tui"]
